{% if MEMBER_PROFILE_VIEW and S_USER_LOGGED_IN %}
<div class="panel">
	<div class="inner">
	<dl>
		<div class="memberprofilecount">
			<div class="inner">
				<dd>{{ lang('MEMBER_PROFILE_VIEW') ~ lang('COLON') }} <strong>{{ MEMBER_PROFILE_VIEWS }}</strong></dd>
				<dd><font size="2">{{ MEMBER_PROFILE_TEXT }}</font></dd>
			</div>
		</div>
	</dl>
<hr/>
	<dl>
		<div class="memberprofileviewed">
			<div class="inner">
				{% for member_viewed in loops.member_viewed %}
					<div class="member-viewed-avatar">{{ member_viewed.AVATAR }}</div> <span><a href="{{ member_viewed.URL }}" "{{ member_viewed.TIME }}" "{{ member_viewed.USERNAME_COLOUR }}">{{ member_viewed.USERNAME }}</a> ({{ member_viewed.COUNTER }})</span>{% if not member_viewed.S_LAST_ROW %}, {% endif %}
				{% endfor %}
			</div>
		</div>
	</dl>
	</div>
</div>
{% endif %}
